@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Josefin+Sans:wght@300&display=swap');



a{
  color: black !important;
}

.brand-logo,h2{
  font-family: 'Grand Hotel',cursive;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}
.mycard{
  margin-top: 30px;
}
.input-field input[type=text]:focus{
  border-bottom: 1px solid rgb(8,93,252) !important;
  box-shadow: 0 1px  0 0 rgb(8,93,252) !important;
}

/* profile */

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
}

/* Home */


.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;

}
/* sign up  */
#toast-container{
  top: 3px !important;
  right: 20px !important;
  left:auto !important;

}